* {
    padding: 0;
    margin: 0;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* box-sizing: border-box; */
}

.hero {
    background-image: url('ai1.gif') ;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 400px;
    overflow: hidden;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 5%;
    
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: hotpink;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin: 2px 2px;
    padding: 5px 5px;
    border-radius: 3px;

}

nav ul :hover {
    transform: scale(1.2);
    transition-duration: 0.7s;
    color: #fc0404;
    background-color: rgb(121, 99, 99);
    border-radius: 5px;
}

.content {
    position: relative;
    top: 2%;
    left: 5%;
    /* transform: translateY(-50%); */
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: rgba(252, 247, 252, 0.8);
    letter-spacing: 2px;
    font-size: 20px;
}


.about {
    /* background-image: url('about.gif'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0px;
    background-color: #292929;
    overflow: hidden;
    left: 10%;
}

.about img {
    height: auto;
    width: 300px;
    border-radius: 80px 15px 15px 15px;
}

.about-text {
    width:650px;
    text-align: justify;
}

.main {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    
     align-items: center; 
    justify-content: space-around; 
 }

.about-text h2 {
    color: white;
    font-size: 75px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h6 {
    color: white;
    text-align: center;
    /* letter-spacing: 2px; */
    font-size: 15px;
    margin-bottom: 25px;
    /* text-transform: capitalize; */
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


#skill button{
    background-color: transparent;
    border: 2px solid #f9004d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 20px 30px;
    margin-bottom:3%;
    transition: .4s;
}
.box{
    padding-left: 0%;
}
 a{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .4s;
}
.card3 a{
    background-color: #08ee55;
    color: rgb(15, 14, 14);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .4s;
}

.card3 a:hover {
    background-color: transparent;
    border: 2px solid #00f96c;
    color: white;
    cursor: pointer;
}
a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.service {
    display: block;
    /* text-align: center; */
    justify-content: center;

    background: #101010;
    width: 100%;
    padding: 20px 0px;
}
#skill {
    display: flex;
    text-align: center;
    justify-content: center;
background-image: url('giphy.gif');
/* background-repeat: no-repeat; */
/* background-size: cover; */
    /* background: #101010; */
    width: 100%;
    /* padding: 20px 0px; */
}


.title h2 {
    color: white;
    font-size: 75px;
    /* width: 1130px; */
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* min-height: 300px; */
}


.card {
    height: 310px;
    width: 335px;
    padding: 10px 10px;
    background: #2b2b2b;
    border-radius: 20px;
    margin: 15px;
    /* padding-bottom: 1%; */
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card3 {
    height: 180px;
    width: 335px;
    padding: 10px 10px;
    background: #2b2b2b;
    border-radius: 20px;
    margin: 15px;
    /* padding-bottom: 1%; */
    position: relative;
    overflow: hidden;
    text-align: center;
}
#note a{
    color: red;
    background-color: #0d0b0b;
    color: rgb(23, 255, 6);
    /* text-decoration: none; */
    border: 2px solid transparent;
    /* font-weight: bold; */
    padding: 5px 10px;
    border-radius: 10px;
    transition: .4s;
}
.card:hover{
    background-image: url('giphy.gif');
    border: 3px solid #f9004d;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.06);
    transition-duration: 0.7s;
}
.card1 {
    height: 400px;
    width: 335px;
    padding: 10px 10px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    padding-bottom: 0%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card2 {
    height: fit-content;
    border: 2px solid white;
    width: 350px;
    padding: 10px 10px;
    background: #0f0e0e;
    border-radius: 20px;
    margin: 15px;
    padding-bottom: 0%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#research {
    height: fit-content;
    width: 750px;
    padding: 10px 10px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    padding-bottom: 1%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;

}
.card3:hover{
    background-image: url('skill1.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 20px;
}
h6 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.pra{
    color: white;
}
.pra p {
    color:white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 30px;
    color: rgb(221, 212, 212);
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 50px;
}

.social {
    display: flex;
    /* flex-direction: column; */
}

.social a {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #512f3a;
    border-radius: 5px;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

.end {
    /* position: absolute; */
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
    display: flex;
    text-align: center;
}

.end ::target-text {
    color: white;
    cursor: pointer;
}

@media (min-width:0px) and (max-width:1118px){
    .main{

      display: flex;
      flex-direction: column;
      text-align: center; 
      /* justify-content: center; */
  }
}
@media (min-width:0px) and (max-width:1118px){
    .card3 {
        height: 200px;
        width: 335px;
        padding: 10px 10px;
        background: #2b2b2b;
        border-radius: 20px;
        margin: 15px;
        padding-bottom: 2%;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
}
